input {
    width: 1rem;
    outline: none;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &[type=number] {
        -moz-appearance: textfield;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .scoreboard-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .frame {
            border: 2px solid black;
            width: 7rem;
            height: 8rem;

            &-number {
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
            }

            .score {
                font-size: 3rem;
                &-container {
                    border-top: 1px solid black;

                    .box {
                        padding: 0.3rem;
                        display: flex;
                        justify-content: space-between;

                        .score-total {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            label {
                                font-weight: bold;
                                font-size: 0.8rem;
                            }
                            
                            input {
                                font-size: 1.5rem;
                                width: 2rem;
                                height: 1.5rem;
                                border: none;
                            }
                        }
                    }
                }

                &-rolls {
                    display: flex;
                    justify-content: flex-end;

                    .first {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .second {
                        padding: 0.2rem;
                        border-left: 2px solid black;
                        border-bottom: 2px solid black;
                        width: 1.5rem;
                        position: relative;
                        &.hidden {
                            background-color: #e0e0e0; // or any color you prefer
                            input {
                                visibility: hidden;
                            }
                        }
                        &.strike {
                            background-color: black;
                        }
                        &.spare {
                            background: white; // or your preferred background
                            overflow: hidden;
                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 0;
                                height: 0;
                                border-left: 40px solid transparent;  // width of the div
                                border-bottom: 40px solid black;      // height and color of the triangle
                                transform: rotate(0);
                            }
                        }
                    }
                }


            }
        }
    }
}